name: Static Scans

on:
  workflow_dispatch: # to allow running manually

permissions:
  contents: read

jobs:

  sast-scans:
    name: SAST Scans
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4
        with:
          persist-credentials: false

